.Project {
    margin-left: 100px;
    margin-right: 100px;
}

.ProjectName {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.ProjectBox {
    height: 250px;
    width: 30%;
    align-content: center;
    border: 2px solid rgb(10, 183, 226);
    display: inline-block;
}
